In [72]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import re
import json

In [73]:
# Create a path to csv and read it in pandas dataframe
path=Path("../Resources/movies_metadata.csv")
movies_df=pd.read_csv(path)
movies_df.head()

C:\Users\velar\AppData\Local\Temp\ipykernel_31980\1131398379.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df=pd.read_csv(path)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [74]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [75]:
reduced_movies_df = movies_df.loc[:, ["id","title","genres","poster_path", "overview"]]
reduced_movies_df

,id,title,genres,poster_path,overview
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,439050,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",/jldsYflnId4tTWPx8es3uzsB1I8.jpg,Rising and falling between a man and woman.
45462,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,An artist struggles to finish his work while a...
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"When one of her hits goes wrong, a professiona..."
45464,227506,Satan Triumphant,[],/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"In a small town live two brothers, one a minis..."
45465,461257,Queerama,[],/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,50 years after decriminalisation of homosexual...

In [76]:
reduced_movies_df = reduced_movies_df.rename(columns={"id": "movieId"
                                                })
reduced_movies_df.head()

,movieId,title,genres,poster_path,overview
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...

In [77]:
# Define a function to clean the genre column
def clean_genre(genre_string):
    # Find all instances of genre names using regular expression
    genres = re.findall(r"'name':\s*'([^']*)'", genre_string)
    # Join the genres with a '|' separator
    return '|'.join(genres)

In [78]:
reduced_movies_df = reduced_movies_df.copy()

# Apply the function to the genre column
reduced_movies_df['cleaned_genres'] = reduced_movies_df['genres'].apply(clean_genre)

# Display the DataFrame to verify the results
# If you want to display both original and cleaned genres
print(reduced_movies_df[['cleaned_genres']])

                 cleaned_genres
0       Animation|Comedy|Family
1      Adventure|Fantasy|Family
2                Romance|Comedy
3          Comedy|Drama|Romance
4                        Comedy
...                         ...
45461              Drama|Family
45462                     Drama
45463     Action|Drama|Thriller
45464
45465

[45466 rows x 1 columns]

In [79]:
non_integer_rows = reduced_movies_df[pd.to_numeric(reduced_movies_df['movieId'], errors='coerce').isna()]

In [80]:
reduced_movies_df = reduced_movies_df[pd.to_numeric(reduced_movies_df['movieId'], errors='coerce').notna()]

In [81]:
reduced_movies_df['movieId'] = reduced_movies_df['movieId'].astype(int)

In [82]:
# Now, drop the 'genres' column from the DataFrame
reduced_movies_df = reduced_movies_df.drop(columns=['genres'])
# Rename cleaned_genres to genres
reduced_movies_df = reduced_movies_df.rename(columns={"cleaned_genres": "genres"})
reduced_movies_df

,movieId,title,poster_path,overview,genres
0,862,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...",Animation|Comedy|Family
1,8844,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,Adventure|Fantasy|Family
2,15602,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,Romance|Comedy
3,31357,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...",Comedy|Drama|Romance
4,11862,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,Comedy
...,...,...,...,...,...
45461,439050,Subdue,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,Rising and falling between a man and woman.,Drama|Family
45462,111109,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,An artist struggles to finish his work while a...,Drama
45463,67758,Betrayal,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"When one of her hits goes wrong, a professiona...",Action|Drama|Thriller
45464,227506,Satan Triumphant,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"In a small town live two brothers, one a minis...",
45465,461257,Queerama,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,50 years after decriminalisation of homosexual...,

In [85]:
reduced_movies_df['overview'] = reduced_movies_df['overview'].fillna("")
reduced_movies_df['poster_path'] = reduced_movies_df['poster_path'].fillna("")

reduced_movies_df

,movieId,title,poster_path,overview,genres
0,862,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Led by Woody, Andy's toys live happily in his ...",Animation|Comedy|Family
1,8844,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,When siblings Judy and Peter discover an encha...,Adventure|Fantasy|Family
2,15602,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,A family wedding reignites the ancient feud be...,Romance|Comedy
3,31357,Waiting to Exhale,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"Cheated on, mistreated and stepped on, the wom...",Comedy|Drama|Romance
4,11862,Father of the Bride Part II,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Just when George Banks has recovered from his ...,Comedy
...,...,...,...,...,...
45461,439050,Subdue,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,Rising and falling between a man and woman.,Drama|Family
45462,111109,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,An artist struggles to finish his work while a...,Drama
45463,67758,Betrayal,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"When one of her hits goes wrong, a professiona...",Action|Drama|Thriller
45464,227506,Satan Triumphant,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"In a small town live two brothers, one a minis...",
45465,461257,Queerama,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,50 years after decriminalisation of homosexual...,

In [86]:
# Transfer data to json

# Convert DataFrame to a list of dictionaries
data_list = reduced_movies_df.to_dict(orient="records")

# Write the list of dictionaries to a JSON file with commas at the end of each line
with open("../Resources/movies_details_cleaned.json", "w") as json_file:
    json_file.write("[\n")
    for i, record in enumerate(data_list):
        json.dump(record, json_file)
        if i < len(data_list) - 1:
            json_file.write(",\n")
    json_file.write("\n]")